body {
	margin: 0px;
	padding: 0px;
}

.left {
	background: #313541;
	width: 20%;
	float: left;
	position: fixed;
	top: 0px;
	bottom: 0px;
}

.top {
	width: 80%;
	float: right;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #b0cdff;
}

.content {
	float: right;
	width: 80%;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	padding:10px 20px;
}

.leftTiyle {
	font-size: 25px;
	padding-left: 30px;
	font-weight: 600;
	color: #545454;
	float: left;
}

.thisUser {
	float: right;
	margin-right: 30px;
}

.bigTitle {
	background: #3d598a;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	font-family: -webkit-body;
}

.lines .active {
	background: #272a34;
	color: #fff;
}
.lines img{
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.lines div {
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	color: #707783;
}

.lines div:hover {
	cursor: pointer;
	color: #FFFFFF;
}
.inf_box{
    display:inline-block;
    font-size:20px;
    border:1px solid;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    border-color:#fff;
    padding:10px 10px;
    margin:4px;
    color:#fff;
}
#myChart{
    margin:10px;
}
.myChart{
    margin:10px;
}
.company_div{
    display:inline-block;
    padding:8px;
}
#add_company{
    cursor:pointer;
    border:1px dashed #8599b2;
}
#add_company:hover{
    background-color:#dfeef7;

}
.company_thumbnail:hover{
    background-color:#F2F2F2;
}


